<div class="row">
    <!-- Earnings (Monthly) Card Example -->

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            <h3>BỤI(PM2.5)</h3>
                        </div>

                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <h2 id="bui">....</h2>
                        </div>
                    </div>
                    <div class="col-auto">
                       <h4>(µg/m3)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <h3>NHIỆT Độ</h3>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <h2 id="temp">....</h2>
                        </div>
                    </div>
                    <div>
                        <h4>(độ C)</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            <h3>ĐỘ ẨM (%)</h3>
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                    <h2 id="hum">....</h2>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-auto">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                           <h3>Khí Gas</h3> </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <h2 id="vlgas">....</h2>
                        </div>
                    </div>
                    <div class="col-auto">
                        <h4>(ppm)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>